.top{
    background-color: #7451eb;
    height: 300px;
}

.top .intro {
    color: white;
    float: left;
    width: 50%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.top .picture {
    float: left;
    width: 50%;
}

.middle {
    height: 200px;
    padding: 10%;
}

.logo {
    float: left;
    width: 33%;
}

.skills {
    float: right;
    width: 77%;
}

.bottom {
    height: 200px;
}

.conclusion {
    margin-bottom: px;  
}